certifi==2018.4.16
codecov==2.0.15
colour-runner==0.0.5
coverage==4.5.1
mock==2.0.0
numpy==1.14.5
scipy==1.1.0
Sphinx==1.7.5
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.0
sphinxcontrib-napoleon==0.6.1
sphinxcontrib-websupport==1.1.0
vtk==8.1.1
gendocs>=0.2.1
