alabaster==0.7.11
argh==0.26.2
Babel==2.6.0
blessings==1.7
certifi==2018.4.16
chardet==3.0.4
codecov==2.0.15
colour-runner==0.0.5
coverage==4.5.1
docutils==0.14
idna==2.7
imagesize==1.0.0
Jinja2==2.10
livereload==2.5.2
MarkupSafe==1.0
numpy==1.14.5
packaging==17.1
pathtools==0.1.2
pkginfo==1.4.2
pockets==0.6.2
port-for==0.3.1
Pygments==2.2.0
pyparsing==2.2.0
pytz==2018.5
PyYAML==3.13
requests==2.19.1
requests-toolbelt==0.8.0
scipy==1.1.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.5
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.0
sphinxcontrib-napoleon==0.6.1
sphinxcontrib-websupport==1.1.0
tornado==5.0.2
tqdm==4.23.4
twine==1.11.0
urllib3==1.23
vtk==8.1.1
watchdog==0.8.3
