# For building the documentation:
gendocs>=0.3.1
mock==2.0.0
Sphinx==1.7.5
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.0
sphinxcontrib-napoleon==0.6.1
sphinxcontrib-websupport==1.1.0
# From root level requirements:
numpy>=1.13
scipy>=1.1
colour-runner==0.0.5
codecov==2.0.15
vtk>=8.1.0
pandas>=0.23.4
pyproj>=1.9
omf>=0.9.3
omfvtk>=0.0.1
espatools>=0.0.8
